.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.jumbo {
  background-color: #006699;
  color: white;
  border-radius: 5px;
}

.carousel-caption {
  margin-bottom: 150px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


.color1 {
	background: #34495e;
	color:#fff;
}



#exito{
  display: none;
}

aside {
	background:#c0392b;
	color:#fff;
}

@media (min-width: 100px) {
  .carousel-caption {
    margin-bottom: 20px;
  }
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
 #map {
        height: 280px;
        width: 60%;
}

#check {
  text-align: center;
  width: 45%;
}

#pago {
  width: 50%
}

#ventaAnual {
	height: 100%;
  width: 100%;
	margin: 0 auto
}

#ventaMensual {
	height: 100%;
  width: 100%;
	margin: 0 auto
}

#imagenTarjeta {
  max-width: 50%;
  max-height: 50%;
}

.img-center {margin:0 auto;}

#listaBuscados {
  list-style: none;
}

