.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  max-height: 340px;
}


.jumbo h2{
  color: white;
}

.jumbo h4{
  color: white;
}

.jumbo {
  background-color: #006699;
  border-radius: 5px;
}
.display-table{
    border-collapse: separate;
    border-spacing: 0 5px;
}
.display-head{
    background-color: #01579b;
    color: white;
}
.carousel-caption {
  margin-bottom: 150px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


.color1 {
	background: #34495e;
	color:#fff;
}



#exito{
  display: none;
}

aside {
	background:#c0392b;
	color:#fff;
}

@media (min-width: 100px) {
  .carousel-caption {
    margin-bottom: 20px;
  }
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
 #map {
        height: 280px;
        width: 60%;
}

#check {
  text-align: center;
  width: 45%;
}

#pago {
  width: 50%
}

#ventaAnual {
	height: 100%;
  width: 100%;
	margin: 0 auto
}

#ventaMensual {
	height: 100%;
  width: 100%;
	margin: 0 auto
}

#imagenTarjeta {
  max-width: 50%;
  max-height: 50%;
}

.img-center {margin:0 auto;}

#listaBuscados {
  list-style: none;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

/*------------------------------------------------------------------------------*/
/*
body {
    font-family: Arial; 
    font-size: 11px;
    padding-top: 30px
}

.wingRowTop {
    position:absolute;
    border-collapse: collapse;
    border-spacing: 0px;    
    margin-top: -37px;    
    -webkit-transform: skew(-25deg);
	   -moz-transform: skew(-25deg);
	     -o-transform: skew(-25deg);
    transform: skew(-25deg);
}
.wingRowBottom {
    position:absolute;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-top: 5px;
    -webkit-transform: skew(25deg);
	   -moz-transform: skew(25deg);
	     -o-transform: skew(25deg);
    transform: skew(25deg);  
}

#seatmap { 
    position: relative; 
}
#seatmap table {
    border-collapse: separate;
    border-spacing: 3px;
}


#plane {
	width: 600px;
	height: auto;
    overflow: hidden;
	background: #fff;
    border: solid 1px #aaa;
	border-radius: 50% 0 0 50%;
    z-index: 1;
}
    #plane .rows {
        width: 30px;
        float: left;  
        empty-cells: show;
        margin-top: 5px;
        margin-left: 200px;
    }
        #plane .rows td { 
            height: 16px; 
            text-align: right;
        }

#cabin { 
    background-color: #dedede; 
    border: none;
    border-left: double 3px #aaa;
    width: 357px; 
    height: auto; 
    padding: 2px 5px;
    float: left;
    margin-left: 0px;
}

#cabin td { width: 15px; height: 15px; border: solid 1px #666; border-radius: 7px 0 0 7px; text-align: center; cursor: pointer; }
    #cabin td.row              { background-color: transparent; border: none; font-weight: bold; padding-right: 7px; }
    #cabin td.seatAvailable    { background-color: #01B213; color: #fff; }
    #cabin td.seatUnavailable  { background-color: #aaa !important; color: #ddd !important; }
    #cabin td.ExtraPay         { background-color: navy; color: #fff !important; }
    #cabin td.LargeSeat        { width: 23px; }
    #cabin td.noSeatGalley     { background-color: transparent; border: none; width: 10px; height: 10px;  }
    #cabin td.noSeatStorage    { background-color: #aaa; }
    #cabin td.noSeatLavatory   { background-color: #aaa; }

#cabin tr:first-child td,
#cabin tr:last-child td { height: 30px; border: none; border-radius: 0; }

#cabin tr:first-child td.wingSeat,
#cabin tr:last-child td.wingSeat{ border: none; }
#cabin tr:first-child td.wingSeat { background: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.3)); }
#cabin tr:last-child td.wingSeat { background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0)); }
*/
/*------------------------------------------------------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.plane {
  margin: 20px auto;
  max-width: 300px;
  /*transform: rotate(90deg);*/
}

.cockpit {
  height: 250px;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-bottom: 5px solid #d8d8d8;
}
.cockpit:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  border-radius: 50%;
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}
.cockpit h1 {
  width: 60%;
  margin: 100px auto 35px auto;
}

.exit {
  position: relative;
  height: 50px;
}
.exit:before, .exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}

.fuselage {
  border-right: 5px solid #d8d8d8;
  border-left: 5px solid #d8d8d8;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seats {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.seat {
  display: flex;
  flex: 0 0 14.28571428571429%;
  padding: 5px;
  position: relative;
}
/*nth-child(number)*/
.seat:nth-child(3n+0) { /*(3n+0) selecciona los multiplos de 3*/
  margin-right: 14.28571428571429%;
}
.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.seat input[type=checkbox]:checked + label {
  background: #bada55;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=checkbox]:disabled + label {
  background: #dddddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  background: #F42536;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5C6AFF;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
